* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
  padding: 0 10px;
}

/* /////////// START HEADER ///// */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header-menu {
  display: flex;
  column-gap: 20px;
  list-style: none;
  text-decoration: none;
}

.hedaer-link {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  text-decoration: none;
}

.btn-black {
  background-color: #101010;
  color: #fffafa;
  padding: 10px 30px;
  transition: 0.5s;
}

.btn-black:hover {
  background-color: #fffafa;
  color: #000000;
  cursor: pointer;
  border: 1px solid black;
}

/* /////////// END HEADER ///// */

/* /////////// START MAIN ///// */

.banner-title {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
  margin-top: 57px;
}

.banner-text {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-top: 30px;
  width: 400px;
  padding-bottom: 30px;
}

.banner-image {
  width: 100%;
}

.banner {
  display: flex;
}

/* /////////// END BANNER ///// */

/* /////////// START PROJECT ///// */

.projects h1 {
  font-weight: 600;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
}

.projects-line {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 40px 0;
}

.projects-title {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  margin-top: 90px;
}

.projects-text {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-top: 30px;
  width: 260px;
}

.projects-text-right {
  margin-left: 60%;
}

.projects-btn {
  border: 1px solid #000000;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  color: #0a0a0a;
  padding: 10px 30px;
  background-color: #ffffff;
  margin-top: 30px;
}

.projects-btn:hover {
  background-color: #000000;
  color: #fffafa;
  transition: 0.5s;
  cursor: pointer;
}

.project-col-text {
  text-align: right;
}

.projects-link {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  text-decoration-style: solid;
  color: gray;
  text-align: center;
  margin-top: 40px;
  display: block;
}

/* /////////// END PROJECTS ///// */

/* /////////// START CONTACTS ///// */

.contacts {
  margin-top: 180px;
}

.col-6 h1 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
}

.col-6 form {
  margin-top: 120px;
}

.contacts-container {
  display: flex;
}

input::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  color: gray;
}

input {
  padding: 24px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.contacts-btn {
  margin-top: 60px;
}

.contacts-img {
  width: 100%;
}

form {
  background-color: transparent;
  color: #000000;
}

/* /////////// END CONTACTS ///// */

/* /////////// START FOOTER ///// */

.footer {
  background-color: #000000;
  color: gray;
  margin-top: 60px;
}

.footer-logo {
  width: 30px;
  height: 30px;
}

.footer-container {
  padding-top: 61px;
  display: flex;
}

.footer-right {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

ul li {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 18px;
}

li a {
  color: #fffcfc8d;
  text-decoration: none;
}

.footer-sm-link {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.footer-sm {
  display: flex;
}

.footer-inp p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  line-height: 100%;
}

.footer-inp input {
  background-color: transparent;
  color: #ffffff;
  border-bottom: 1px solid gray;
  outline: none;
  margin-bottom: 60px;
}

.footer-lnk {
  margin-right: 20px;
  display: flex;
  margin-top: 230px;
}

.footer-link {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  color: gray;
  margin-right: 20px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.projects-img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .banner-img {
    width: 100%;
  }
  .projects h1 {
    margin-top: 30px;
    font-size: 35px;
  }
  .col-6 h1 {
    font-size: 35px;
  }
  .projects-text-right {
    margin-left: auto;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .banner-text {
    max-width: 90%;
    width: 100%;
  }
  .projects-title {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .col-6 {
    width: 100%;
  }
  .banner,
  .row,
  .contacts-container,
  .footer-container {
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .contacts-container .col-6:first-child {
    order: 1;
  }
  .projects-text-right {
    margin-left: 0;
  }
  .projects-title,
  .projects-text {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .projects-btn {
    text-align: center;
    margin: 0 auto;
    margin-top: 15px !important;
    display: block;
  }
  .footer-left {
    align-items: center;
  }
  .footer-right {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
  .footer-inp p {
    text-align: center;
  }

  .mobile-btn {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 5;
    width: 70px;
    height: 50px;
    cursor: pointer;
  }
  .mobile-btn span,
  .mobile-btn span::before,
  .mobile-btn span::after {
    content: "";
    display: block;
    background-color: #252525;
    height: 5px;
    position: absolute;
    width: 100%;
  }
  .mobile-btn span::after {
    bottom: -15px;
  }
  .mobile-btn span::before {
    top: -15px;
  }
  .header__box {
    position: relative;
  }
  .header__box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 4;
  }
  .header-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 0;
    justify-content: center;
    z-index: 1;
    background-color: #fff;
    transition: all 0.5s ease-in;
  }
  .header-nav {
    /* position: relative; */
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }
  .header-menu-show {
    top: 100px;
    z-index: 6;
    border-top: 1px solid #252525;
  }
  .header-logo {
    z-index: 6;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}

/* /////////// END FOOTER ///// */
